* {
    font-family: Georgia, 'Times New Roman', Times, serif
    
}
body{
  background: #082d38 ;
}

h1{
    padding: 10px;
    margin: 15px;
    margin-left: 5px;;
}
a:link {
    text-decoration: none;
    color:black;
}

select {
    font-size: 28px;
    margin-left: 20px;
    color: violet;
}

div div {
    background-color: rgb(243, 191, 19);
    font-size: 20px;
    float: inline-end;
    border: solid white;;
    margin: 20px;
    padding: 10px;
    width: 325px;
}

h1{
    color: rgb(255, 255, 255);
}
select{
    color:rgb(25, 17, 53);
}
span{
    color: rgb(243, 243, 243);
}

.xxx{
    border-radius: 10px;
    background: rgb(243, 191, 19);
    font-size: 30px;
    border:solid white;
    
}
